
.parent-element  {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#dcs-billboard-sprite-text {
	display: none;
}

#dcs-billboard-sprite { 
	background: url(./images/device.png) 90% 1px no-repeat;
    background-size: 20%;
    //background-color: #4d7fad;  
	margin: 0 auto; 
    width: 100%; 
    height: 140px;
    position: absolute; 
	z-index: 4;
    top: -300px;
    transition: top 1s;
}

section.bg-panel { 
	margin-top: -50px;
	width: 100%;
	margin: 0 auto;
}

#dcs-bg-panel  {
   	margin: 0 auto;
	width: 100%;
    z-index: -15;
}

.bg-panel img  {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
}

.bg-panel img.transparent  {
    opacity: 0;
}

#bg-panel-1 { 
	background-image: url(./images/panel1.png);
    background-repeat: no-repeat;
    background-size: contain; 
}

#bg-panel-2 { 
	width: 100%;
	padding-top: 15px;
}

#bg-panel-2 div.left  {
	padding-top: 25px;
    float: left;
	width: 55%;
	height: 100%
    vertical-align: middle;
}

#bg-panel-2 div.right {
    float: right;
    width: 45%;
    vertical-align: middle;
    display: none;
}

#one, #two, #three {
	height: 33%;
	margin: auto 0;
	vertical-align: middle;
	line-height: 55px;
	color: #a9a9a9;
	//text-shadow: 0 0 5px rgba(0,0,0,0.5);
	float: left;
	//margin-top: 25px;
}

#one img, #two img, #three img  {
	vertical-align: middle;
	height: 100%;
}

.line-img { 
	float: left;
	background-image: url(./images/faded-blue-dot.png);
	width: 55px;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 55px;
	background-position: top left;
	margin-left: 30px;
}

hr.blue-line {
    border-top: 2px #4d7fad solid;
    width: 15%; 
    margin: 25px auto;
    position: absolute;
}

.hover-class {
    font-size: 220%;
    color: #767676 !important;
    text-shadow: none !important;
    line-height: 100% !important;
}

@media only screen and (max-width:1000px)  {
	.line-img {  }

	.hover-class { font-size: 120%; }
	
	#bg-panel-2 div.left  { width: 100%; }
}

#bg-panel-6 {
	padding: 20px;
}

#bg-panel-7 {
	padding-bottom: 25px;
}

#bg-panel-3 { 
	background-image: url(./images/panel3.png);
    background-repeat: no-repeat;
    background-size: contain; 
}

#bg-panel-4 { 
	background-image: url(./images/panel4.png);
    background-repeat: no-repeat;
    background-size: contain; 
}

#bg-panel-5 { 
	background-image: url(./images/panel5.png);
    background-repeat: no-repeat;
    background-size: contain; 
}

#bg-panel-6 { 
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: contain; 
    background-color: white !important;
}

#bg-panel-7 { 
    margin-top: 30px;
    background-repeat: no-repeat;
    background-size: contain; 
	background-color: #f3f2f2 !important;
}

a.buy-button {     
    background-color: #2b84c6;
    color: white;
    font-size: 150%;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0,0,0,0.2);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    z-index: 15;
}

a.buy-button:hover,  a.buy-button:focus {
    border: solid 1px #2a4e77;
    text-decoration: none;
}

div.learn-more {
    background-color: transparent;    
    margin-left: 1px;
    width: 20%;
    bottom: 0;
    position: relative;
    padding-left: 20px;
}

div.learn-more a {
    color: #2b84c6;
    font-size: 125%;
}

